<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
{#        <nav>#}
{#            <a href="{% url 'home' %}">Home</a>#}
{#            <a href="{% url 'cryptocurrencies' %}">Cryptocurrencies</a>#}
{#            <a href="{% url 'favorites' %}">Favorites</a>#}
{#            <a href="{% url 'news' %}">News</a>#}
{#            {% if user.is_authenticated %}#}
{#            <a href="{% url 'logout' %}">Logout</a>#}
{#            {% else %}#}
{#            <a href="{% url 'login' %}">Login</a>#}
{#            <a href="{% url 'register' %}">Register</a>#}
{#            {% endif %}#}
{#        </nav>#}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; {{ year }} My Crypto App</p>
    </footer>
</body>
</html>