{% extends 'base.html' %}

{% block content %}
<h1>Криптовалюты</h1>

{#<form method="GET" action="{% url 'currency_list' %}">#}
{#    <input type="text" name="search_query" placeholder="Поиск криптовалюты">#}
{#    <button type="submit">Поиск</button>#}
{#</form>#}

<table>
    <thead>
        <tr>
            <th>Символьный код</th>
            <th>Название</th>
            <th>Текущий курс</th>
           <th>Объем торгов</th>
            <th>Изменение за 24 часа</th>
        </tr>
    </thead>
    <tbody>
        {% for crypto in data %}
            <tr>
            <td>{{ crypto.symbol }}</td>
            <td>{{ crypto.name }}</td>
            {% for currency, quote in crypto.quote.items %}
                <td>{{ quote.price }} {{ currency }}</td>
                <td>{{ quote.volume_24h }}</td>
                <td>{{ quote.percent_change_24h }}%</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}